    
::selection {
    background: #fff9e6;
    color: #997649;
}

body, html {
    color: #65717d;
}

a {
    color: #1b5fa5;
}
    a:hover {
        color: #76a314;
    }
    p a {
        border-bottom: 1px solid #d3e2f1;
    }
        p a:hover {
            border-color: #e2efc6;
        }
        
b {
    color: #505b67;
}

blockquote {
    background: #e9f0f8;
    color: #3f5d80;
}
    blockquote + cite:after {
        border-top: 10px solid #e9f0f8;
    }

span.hilite, i.hilite, mark {
    background: #ebf2fc;
    color: #3e649e;
}
    
.header {
    background: #f1f3f5;
}

h1 {
    color: #424b55;
}
h2, h3, h4 {
    color: #4c5762;
}

nav li a {
    color: #7e8797;
}
    nav li a:hover {
        color: #4d535e;
    }
    nav li.active a, nav li a.active {
        background: #fff;
    }

/**
 *   Forms
 */
:placeholder { color: #b3bdcd; }
    ::-webkit-input-placeholder { color: #b3bdcd; }
    ::-moz-placeholder { color: #b3bdcd; }

/* Standard inputs */
input, textarea {
    border: 2px solid #b9c1ce;
    color: #5f6672;
}
    input:focus, textarea:focus {
        border-color: #97a7c3;
        background: #f3f6fc;
    }
.success input {
    border-color: #82b01e;
    color: #6e7e4a;
}
    .success input:focus {
        background: #fbfff3;
    }
.error input {
    border-color: #d13d29;
    color: #884b43;
}
    .error input:focus {
        background: #fff6f5;
    }
    
/* Buttons! So many buttons! */
button, .btn, [type=submit], [type=button] {
    background: #3f70c0;
    color: #fff;
}
    button:hover, .btn:hover, [type=submit]:hover {
        background: #2151a1;
        color: #fff;
    }
button.green, .btn.green, [type=submit].green,
button.primary, .btn.primary, [type=submit].primary {
    background: #75ab1f;
}
    button.green:hover, .btn.green:hover, [type=submit].green:hover,
    button.primary:hover, .btn.primary:hover, [type=submit].primary:hover {
        background: #619214;
    }
button.red, .btn.red, [type=submit].red,
button.danger, .btn.danger, [type=submit].danger /* High voltage */ {
    background: #cf402d;
}
    button.red:hover, .btn.red:hover, [type=submit].red:hover,
    button.danger:hover, .btn.danger:hover, [type=submit].danger:hover {
        background: #a2200f;
    }
button.orange, .btn.orange, [type=submit].orange,
button.warning, .btn.warning, [type=submit].warning {
    background: #de8925;
}
    button.orange:hover, .btn.orange:hover, [type=submit].orange:hover,
    button.warning:hover, .btn.warning:hover, [type=submit].warning:hover {
        background: #c56110;
    }
button.white, .btn.white, [type=submit].white, [type=reset] {
    background: #dee6f2;
    color: #3c5378;
}
    button.white:hover, .btn.white:hover, [type=submit].white:hover, [type=reset]:hover {
        background: #c4d4eb;
        color: #24395a;
    }
button.pink, .btn.pink, [type=submit].pink {
    background: #de3882;
}
    button.pink:hover, .btn.pink:hover, [type=submit].pink:hover {
        background: #bb1d63;
    }
button.purple, .btn.purple, [type=submit].purple {
    background: #813fbe;
}
    button.purple:hover, .btn.purple:hover, [type=submit].purple:hover {
        background: #63279c;
    }
    
button[disabled], .btn[disabled], [type=submit][disabled],
button.disabled, .btn.disabled, [type=submit][disabled] {
    background: #cbcfd6;
    color: #6f7886;
}

::-webkit-file-upload-button {
    background: #33aad6;
    color: #fff;
}
    ::-webkit-file-upload-button:hover {
        background: #1e8ab2;
    }
    
    
/**
 *   Tables
 */
th, thead td {
    color: #41526f;
    border-bottom: 2px solid #dee3eb;
}

/**
 *   List items
 */
li:before {
    color: #8aa0bf;
}

/**
 *   Navigation
 */
.navigation a {
    color: #606b77;
}
    .navigation a:hover {
        background: #f5f7fa;
    }
.navigation li {
    border-color: #dee5ec !important;
}
    
/* Prism syntax highlighting */
/**
 *   Butterfly UI
 *   A simpler framework for simpler sites
 *
 *   Giving everything a consistent typographic style.
 */
 
body, html {
    font: 13px/22px "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 35px;
    line-height: 43px;
    font-weight: 300;
    
    padding-bottom: .4em;
}
h2 {
    font-size: 25px;
    line-height: 33px;
    font-weight: 500;
    
    padding-bottom: 19px;
}
    .sidebar h2 {
        font-size: 15px;
        line-height: 25px;
    }
h3 {
    font-size: 21px;
    line-height: 31px;
    font-weight: 300;
    
    padding-bottom: .5em;
}
h4 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
}

p, h4 {
    padding-bottom: 1em;
}

i.hilite {
    font-style: normal;
}

code, pre {
    font: 90%/140% Inconsolata, monospace;
}

blockquote {
    font: italic 14px/24px Georgia, serif;
}

.center, .wrap {
    margin: 0 auto 25px; 
    overflow: hidden;   
}
    .wrap {
        position: relative;
        left: 20px;
        
        width: 1000px;
    }
    .wrap > * {
        max-width: 960px;
    }

/* Grid system */
[class*='col'], .content, .sidebar {
    display: block;
    
    margin-bottom: 20px;
    margin-right: 20px;
}
    .col12 { width: 960px; }
    .col11 { width: 880px; }
    .col10 { width: 799px; }
    .col9 { width: 700px; }
    .col8, .content { width: 634px; }
    .col7 { width: 551px; }
    .col6, .half, .full input, .full select, .full textarea { width: 470px; }
    .col5 { width: 389px; }
    .col4, .third, .sidebar { width: 307px; }
    .col3, .full label, .full .help { width: 224px; }
    .col2 { width: 143.5px; }
    .col1 { width: 61.75px; }
    
/* Offsets */
.offset8 { margin-left: 654px; }
.offset7 { margin-left: 571px; }
.offset6 { margin-left: 490px; }
.offset5 { margin-left: 409px; }
.offset4 { margin-left: 327px; }
.offset3, .full button, .full [type=submit] { margin-left: 224px; }
.offset2 { margin-left: 163.5px; }
.offset1 { margin-left: 81.75px; }

/* Negative offsets */
.offset-12 { margin-left: -960px; }
.offset-8 { margin-left: -634px; }
.offset-7 { margin-left: -551px; }
.offset-6 { margin-left: -470px; }
.offset-5 { margin-left: -389px; }
.offset-4 { margin-left: -307px; }
.offset-3 { margin-left: -224px; }
.offset-2 { margin-left: -143.5px; }
.offset-1 { margin-left: -61.75px; }

/* Pushoffs */
.pad11 { margin-right: 900px; }
.pad10 { margin-right: 829px; }
.pad9 { margin-right: 720px; }
.pad8 { margin-right: 654px; }
.pad7 { margin-right: 571px; }
.pad6 { margin-right: 490px; }
.pad5 { margin-right: 409px; }
.pad4 { margin-right: 327px; }
.pad3 { margin-right: 224px; }
.pad2 { margin-right: 163.5px; }
.pad1 { margin-right: 81.75px; }

.right {
    float: right;
}
    .wrap > .right {
        margin-right: 40px;
    }
.left, [class*='col'], .content, .sidebar {
    float: left;
}
    
.header {
    margin-bottom: 40px;
}
/**
 *   Butterfly UI
 *   A simpler framework for simpler sites
 *
 *   Typin', inputtin', it's all good.
 */
 
/* Texty inputs */
input, textarea {
    padding: 10px 14px;
    margin-bottom: 15px;

    border-radius: 5px;
    font-size: 13px;
}
    textarea {
        resize: vertical;
        
        min-height: 100px;
        max-height: 600px;
    }
        textarea.small {
            min-height: 45px;
            max-height: 150px;
        }
        textarea.tall {
            min-height: 200px;
            max-height: 750px;
        }
    input:focus, textarea:focus {
        outline: none;
    }
    
button, .btn, [type=submit], [type=reset], [type=button] {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 20px; /* Multiple buttons next to each other */
    
    border: none;
    border-radius: 5px;
    
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}
    ::-webkit-file-upload-button {
        padding: 10px 20px;
        
        border: none;
        border-radius: 5px;
        
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
    }
    form button, [type=submit], [type=reset] {
        padding: 12px 24px;
    }
        .full button + button {
            margin-left: 20px;
        }
    
label {
    display: block;
    float: left;
    padding: 2px 20px 8px 0;
    
    line-height: 19px;
    font-weight: 500;
}

legend {
    display: block;
    width: 100%;
    padding-bottom: 20px;

    position: relative;
    
    font-size: 19px;
    font-weight: 500;
}

legend, .full p {
    border-bottom: 1px solid #e5e9f0;    
}
    .full p {
        min-height: 50px;
        margin: 30px 0 25px;
    }

.full .help {
    display: block;    
    margin-top: -2px;
    margin-bottom: 20px;
    
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    color: #9ba5b6;
}

.full .status {
    position: relative;
    top: 2px;
    
    padding-left: 20px;
    
    font-size: 21px;
    line-height: 34px;
}

/**
 *   File upload fields
 */
 
[type=file] {
    -webkit-appearance: none;
    padding: 0;
    border: none;
}
    [type=file]::-webkit-file-upload-button {
        -webkit-appearance: none;
        padding-left: 43px;
        
        background-image: url('cloud.png');
        background-repeat: no-repeat;
        background-position: 15px 50%;
    }

::selection {
    background: #fff9e6;
    color: #997649;
}

body, html {
    color: #65717d;
}

a {
    color: #1b5fa5;
}
    a:hover {
        color: #76a314;
    }
    p a {
        border-bottom: 1px solid #d3e2f1;
    }
        p a:hover {
            border-color: #e2efc6;
        }
        
b {
    color: #505b67;
}

blockquote {
    background: #e9f0f8;
    color: #3f5d80;
}
    blockquote + cite:after {
        border-top: 10px solid #e9f0f8;
    }

span.hilite, i.hilite, mark {
    background: #ebf2fc;
    color: #3e649e;
}
    
.header {
    background: #f1f3f5;
}

h1 {
    color: #424b55;
}
h2, h3, h4 {
    color: #4c5762;
}

nav li a {
    color: #7e8797;
}
    nav li a:hover {
        color: #4d535e;
    }
    nav li.active a, nav li a.active {
        background: #fff;
    }

/**
 *   Forms
 */
:placeholder { color: #b3bdcd; }
    ::-webkit-input-placeholder { color: #b3bdcd; }
    ::-moz-placeholder { color: #b3bdcd; }

/* Standard inputs */
input, textarea {
    border: 2px solid #b9c1ce;
    color: #5f6672;
}
    input:focus, textarea:focus {
        border-color: #97a7c3;
        background: #f3f6fc;
    }
.success input {
    border-color: #82b01e;
    color: #6e7e4a;
}
    .success input:focus {
        background: #fbfff3;
    }
.error input {
    border-color: #d13d29;
    color: #884b43;
}
    .error input:focus {
        background: #fff6f5;
    }
    
/* Buttons! So many buttons! */
button, .btn, [type=submit], [type=button] {
    background: #3f70c0;
    color: #fff;
}
    button:hover, .btn:hover, [type=submit]:hover {
        background: #2151a1;
        color: #fff;
    }
button.green, .btn.green, [type=submit].green,
button.primary, .btn.primary, [type=submit].primary {
    background: #75ab1f;
}
    button.green:hover, .btn.green:hover, [type=submit].green:hover,
    button.primary:hover, .btn.primary:hover, [type=submit].primary:hover {
        background: #619214;
    }
button.red, .btn.red, [type=submit].red,
button.danger, .btn.danger, [type=submit].danger /* High voltage */ {
    background: #cf402d;
}
    button.red:hover, .btn.red:hover, [type=submit].red:hover,
    button.danger:hover, .btn.danger:hover, [type=submit].danger:hover {
        background: #a2200f;
    }
button.orange, .btn.orange, [type=submit].orange,
button.warning, .btn.warning, [type=submit].warning {
    background: #de8925;
}
    button.orange:hover, .btn.orange:hover, [type=submit].orange:hover,
    button.warning:hover, .btn.warning:hover, [type=submit].warning:hover {
        background: #c56110;
    }
button.white, .btn.white, [type=submit].white, [type=reset] {
    background: #dee6f2;
    color: #3c5378;
}
    button.white:hover, .btn.white:hover, [type=submit].white:hover, [type=reset]:hover {
        background: #c4d4eb;
        color: #24395a;
    }
button.pink, .btn.pink, [type=submit].pink {
    background: #de3882;
}
    button.pink:hover, .btn.pink:hover, [type=submit].pink:hover {
        background: #bb1d63;
    }
button.purple, .btn.purple, [type=submit].purple {
    background: #813fbe;
}
    button.purple:hover, .btn.purple:hover, [type=submit].purple:hover {
        background: #63279c;
    }
    
button[disabled], .btn[disabled], [type=submit][disabled],
button.disabled, .btn.disabled, [type=submit][disabled] {
    background: #cbcfd6;
    color: #6f7886;
}

::-webkit-file-upload-button {
    background: #33aad6;
    color: #fff;
}
    ::-webkit-file-upload-button:hover {
        background: #1e8ab2;
    }
    
    
/**
 *   Tables
 */
th, thead td {
    color: #41526f;
    border-bottom: 2px solid #dee3eb;
}

/**
 *   List items
 */
li:before {
    color: #8aa0bf;
}

/**
 *   Navigation
 */
.navigation a {
    color: #606b77;
}
    .navigation a:hover {
        background: #f5f7fa;
    }
.navigation li {
    border-color: #dee5ec !important;
}
    
/* Prism syntax highlighting */
a, input, button, .btn, [type=submit], ::-webkit-file-upload-button {
    -webkit-transition: color .2s, background .2s, border .2s;
}

.header {
    -webkit-transition: margin-top .2s;
}

input[type="submit"].button, button.button {
-webkit-appearance: none;
}
.button.radius {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}
.button.secondary {
background-color: #E9E9E9;
color: #1D1D1D;
border: 1px solid #C3C3C3;
}
.button.small {
font-size: 11px;
padding: 7px 14px 8px;
}
button, .button, input[type="submit"], select, input[type="checkbox"], input[type="file"]::after {
background-color: #DEE3E6;
background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F7F8), to(#C8D0D5));
background-image: -webkit-linear-gradient(top, #F5F7F8, #C8D0D5);
background-image: -moz-linear-gradient(top, #F5F7F8, #C8D0D5);
background-image: -o-linear-gradient(top, #F5F7F8, #C8D0D5);
background-image: -ms-linear-gradient(top, #F5F7F8, #C8D0D5);
background-image: linear-gradient(top, #F5F7F8, #C8D0D5);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f5f7f8', EndColorStr='#c8d0d5');
border: none;
color: #626B6E;
font-weight: bold;
text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
padding: 7px 16px;
margin: 3px 10px 3px 0;
-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .6), inset 0 -1px 1px rgba(0, 0, 0, .15), 0 1px 1px rgba(0, 0, 0, .1);
-moz-box-shadow: inset 0 0 1px rgba(0,0,0,.6), inset 0 -1px 1px rgba(0,0,0,.15), 0 -1px 1px rgba(0,0,0,.1);
box-shadow: inset 0 0 1px rgba(0, 0, 0, .6), inset 0 -1px 1px rgba(0, 0, 0, .15), 0 1px 1px rgba(0, 0, 0, .1);
display: inline-block;
cursor: pointer;
}
fieldset, button, input[type="submit"], select {
border: none;
}
button, .button, input[type="submit"], select, input[type="checkbox"], input[type="file"]::after {
background-color: #DEE3E6;
background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F7F8), to(#C8D0D5));
background-image: -webkit-linear-gradient(top, #F5F7F8, #C8D0D5);
background-image: -moz-linear-gradient(top, #F5F7F8, #C8D0D5);
background-image: -o-linear-gradient(top, #F5F7F8, #C8D0D5);
background-image: -ms-linear-gradient(top, #F5F7F8, #C8D0D5);
background-image: linear-gradient(top, #F5F7F8, #C8D0D5);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f5f7f8', EndColorStr='#c8d0d5');
border: none;
color: #626B6E;
font-weight: bold;
text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
padding: 7px 16px;
margin: 3px 10px 3px 0;
-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .6), inset 0 -1px 1px rgba(0, 0, 0, .15), 0 1px 1px rgba(0, 0, 0, .1);
-moz-box-shadow: inset 0 0 1px rgba(0,0,0,.6), inset 0 -1px 1px rgba(0,0,0,.15), 0 -1px 1px rgba(0,0,0,.1);
box-shadow: inset 0 0 1px rgba(0, 0, 0, .6), inset 0 -1px 1px rgba(0, 0, 0, .15), 0 1px 1px rgba(0, 0, 0, .1);
display: inline-block;
cursor: pointer;
}
input, textarea, button, .button, select {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-size: 13px;
outline: none;
}
.button {
width: auto;
background: #2BA6CB;
border: 1px solid #1E728C;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
color: white;
cursor: pointer;
display: inline-block;
font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
font-size: 14px;
font-weight: bold;
line-height: 1;
margin: 0;
outline: none;
padding: 10px 20px 11px;
position: relative;
text-align: center;
text-decoration: none;
-webkit-transition: background-color 0.15s ease-in-out;
-moz-transition: background-color 0.15s ease-in-out;
-o-transition: background-color 0.15s ease-in-out;
transition: background-color 0.15s ease-in-out;
}
input, textarea {
outline: none;
border: 1px solid #B1B6BA;
padding: 7px 10px;
font-size: 13px;
line-height: 18px;
color: #6D7B82;
min-width: 240px;
box-shadow: inset 0 1px 1px rgba(137, 152, 163, .25);
}
input, textarea, button, .button, select {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-size: 13px;
outline: none;
}
body, input, textarea, button, select {
font: 15px/25px "Helvetica Neue", sans-serif;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
user agent stylesheetinput[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
padding: 1px 6px;
}
user agent stylesheetinput[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
-webkit-box-align: center;
text-align: center;
cursor: default;
color: buttontext;
padding: 2px 6px 3px;
border: 2px outset buttonface;
border-image: initial;
background-color: buttonface;
box-sizing: border-box;
}
user agent stylesheetinput[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: push-button;
white-space: pre;
}
user agent stylesheetinput, input[type="password"], input[type="search"], isindex {
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}
user agent stylesheetinput, textarea, keygen, select, button, isindex {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: -webkit-auto;
}
Inherited from form
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
font-size: 14px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
font-size: 14px;
}
Inherited from div.four.columns
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
font-size: 14px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
font-size: 14px;
}
Inherited from div.row
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
font-size: 14px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
font-size: 14px;
}
Inherited from body
body {
color: #6E7378;
}
body, input, textarea, button, select {
font: 15px/25px "Helvetica Neue", sans-serif;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
font-size: 14px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
font-size: 14px;
}
body {
font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1;
color: #222;
}


